
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="InventoryMeterDeposit" ng-init="init('@ViewBag.PageUrl')">
    <section class="content" ng-init="GetInventoryMeterDepositData()">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" ng-init="GetSearchData()">
                    <div class="card">
                        <div class="card-header card-gray card-outline">
                            <h3 class="card-title">
                                <i class="fas fa-bars mr-1"></i>Search
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form name="UnitAcceptance" novalidate role="form" ng-submit="$event.preventDefault()">
                                <div class="row">
                                    <div class="col-12 form-group mb-2 has-feedback">
                                        <label class="mb-1" for="SProjectCode">Project Name</label>
                                        <md-autocomplete ng-disabled="false" md-no-cache="true" md-selected-item="selectedProject" md-search-text-change="searchTextChange(searchProject)"
                                                         md-search-text="searchProject" md-selected-item-change="selectedItemChange(item, 'Project')" md-items="item in querySearch(searchProject, 'Project')"
                                                         md-item-text="item.ProjectCodeName" md-min-length="0" placeholder="Ex. Bay Garden" input-aria-labelledby="favoriteStateLabel"
                                                         md-menu-class="autocomplete-custom-template" md-menu-container-class="custom-container">
                                            <md-item-template>
                                                <span class="item-title">
                                                    <i class="fas fa-building"></i>
                                                    <span md-highlight-text="searchProject" md-highlight-flags="i">{{item.CompanyCode}} : {{item.ProjectCode}} </span>
                                                </span>
                                                <span class="item-metadata">
                                                    <span md-highlight-text="searchProject" md-highlight-flags="i">{{item.BusinessEntity}}</span>
                                                </span>
                                            </md-item-template>
                                            <md-not-found>
                                                No states matching "{{searchProject}}" were found.
                                            </md-not-found>
                                        </md-autocomplete>
                                    </div>

                                    <div class="col-12 form-group mb-2 has-feedback">
                                        <label class="mb-1" for="SProjectLocation">Project Location</label>
                                        <textarea class="form-control form-control-sm" id="SProjectLocation" name="SProjectLocation" rows="2" ng-model="pagingInfo.multiplesearch.ProjectLocation" placeholder="Location" readonly="readonly"></textarea>
                                    </div>

                                    <div class="col-12 form-group mb-2 has-feedback">
                                        <label class="mb-1" for="SUnitCategory">Unit Category</label>
                                        <md-autocomplete ng-disabled="false" md-no-cache="true" md-selected-item="selectedUnitCategory" md-search-text-change="searchTextChange(searchUnitCategory)"
                                                         md-search-text="searchUnitCategory" md-selected-item-change="selectedItemChange(item, 'UnitCategory')" md-items="item in querySearch(searchUnitCategory, 'UnitCategory')"
                                                         md-item-text="item.name" md-min-length="0" placeholder="Ex. Residential Unit" input-aria-labelledby="favoriteStateLabel">
                                            <md-item-template>
                                                <span md-highlight-text="searchUnitCategory" md-highlight-flags="^i">{{item.name}}</span>
                                            </md-item-template>
                                            <md-not-found>
                                                No states matching "{{searchUnitCategory}}" were found.
                                            </md-not-found>
                                        </md-autocomplete>
                                    </div>

                                    <div class="col-12 form-group mb-3 has-feedback">
                                        <label class="mb-1" for="SUnitNos">Unit Nos</label>
                                        <md-autocomplete ng-disabled="false" md-no-cache="true" md-selected-item="selectedUnit" md-search-text-change="searchTextChange(searchUnit)"
                                                         md-search-text="searchUnit" md-selected-item-change="selectedItemChange(item, 'Unit')" md-items="item in querySearch(searchUnit, 'Unit')"
                                                         md-item-text="item.RefNos" md-min-length="0" placeholder="Ex. 0000000" input-aria-labelledby="favoriteStateLabel">
                                            <md-item-template>
                                                <span md-highlight-text="searchUnit" md-highlight-flags="^i">{{item.RefNos}}</span>
                                            </md-item-template>
                                            <md-not-found>
                                                No states matching "{{searchUnit}}" were found.
                                            </md-not-found>
                                        </md-autocomplete>
                                    </div>

                                    <div class="col-12 form-group mb-0">
                                        <button type="button" class="btn btn-default btn-sm float-right" data-dismiss="modal" ng-click="clearSearch()">
                                            <i class="fas fa-times-circle"></i> Clear
                                        </button>
                                        <button type="button" class="btn btn-secondary btn-sm float-right  mr-1" ng-click="GetInventoryMeterDepositData()">
                                            <i class="fas fa-search"></i> Search
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header card-gray card-outline">
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length form-inline">
                                            <label>
                                                Show
                                                <select name="example1_length" class="form-control form-control-sm" ng-model="pagingInfo.itemsPerPage" ng-change="setItemsPerPage(pagingInfo.itemsPerPage)">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries
                                            </label>
                                            <img src="~/Content/dist/img/ajax-loader2.gif" ng-show="loading" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <form ng-submit="search()" role="form">
                                            <div class="form-inline dataTables_filter">
                                                <label>
                                                    Search:
                                                    <input type="search" class="form-control form-control-sm" placeholder="" ng-model="pagingInfo.search">
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                            <thead>
                                                <tr role="row">
                                                    <th width="4%">Nos</th>
                                                    <th class="sorting" ng-click="sort('CompanyCode')">Company</th>
                                                    <th class="sorting" ng-click="sort('ProjectCode')">Project</th>
                                                    <th class="sorting" ng-click="sort('UnitCategoryDesc')">Unit Category</th>
                                                    <th class="sorting" ng-click="sort('RefNos')">Unit</th>
                                                    <th class="sorting" ng-click="sort('MeterDepositAmount')">Meter Deposit</th>
                                                    <th class="text-center" ng-if="Ctrl.wDelete || Ctrl.wEdit">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="pagingInfo.totalItems == 0">
                                                    <td colspan="7"><center>No data to display</center></td>
                                                </tr>
                                                <tr ng-if="pagingInfo.totalItems > 0" ng-repeat="to in InventoryMeterDeposit">
                                                    <td ng-bind="(pagingInfo.itemsPerPage * (pagingInfo.page - 1)) + $index + 1"></td>
                                                    <td ng-bind="to.CompanyCode"></td>
                                                    <td ng-bind="to.ProjectCode"></td>
                                                    <td ng-bind="to.UnitCategoryDesc"></td>
                                                    <td ng-bind="to.RefNos"></td>
                                                    <td ng-bind="to.MeterDepositAmount"></td>
                                                    <td class="text-center" ng-if="Ctrl.wEdit">
                                                        <button type="button" class="btn btn-secondary btn-circle btn-sm" data-toggle="modal" data-target="#UpdateMeterDepositModal" ng-if="Ctrl.wEdit && to.MeralcoSubmittedDate === null" ng-click="EditInventoryMeterDepositData(to)"><i class="fas fa-pencil-alt"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing {{pagingInfo.page}} to {{pagingInfo.totalItems/pagingInfo.itemsPerPage | roundup }} of {{pagingInfo.totalItems}} entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                            <ul uib-pagination total-items="(10 * pagingInfo.totalItems)/pagingInfo.itemsPerPage" ng-model="pagingInfo.page" ng-change="selectPage(pagingInfo.page)" max-size="10" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-0">
                                <div class="col-12 text-right">
                                    <a href="#" class="mt-2 text-xs" ng-click="GetTransactionLog()"><u> transaction logs</u></a>
                                </div>
                            </div> <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>


        <div class="modal fade" id="UpdateMeterDepositModal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Meter Deposit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form name="InventoryMeterDepositForm" novalidate role="form">
                        <div class="modal-body">
                            <div class="form-group has-feedback" show-errors>
                                <label for="MeterDepositAmount">Amount *</label>
                                <input type="number" class="form-control form-control-sm" id="MeterDepositAmount" name="MeterDepositAmount" ng-model="data.MeterDepositAmount" ng-required="true" placeholder="Meter Deposit Amount">
                                <div style="color:red" class="invalid-feedback" ng-if="InventoryMeterDepositForm.MeterDepositAmount.$error.required">You can't leave this empty.</div>
                            </div>
                            <div class="form-group has-feedback" show-errors ng-if="ShowReasonChange">
                                <label for="ReasonForChange">Reason for Changes *</label>
                                <textarea class="form-control form-control-sm" id="ReasonForChange" name="ReasonForChange" ng-model="data.ReasonForChange" ng-required="ShowReasonChange" rows="3"></textarea>
                                <div style="color:red" class="invalid-feedback" ng-if="(ShowReasonChange)? ReasonForm.ReasonForChange.$error.required : ''">You can't leave this empty.</div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" ng-click="ClearData()">Close</button>
                            <button type="button" class="btn btn-secondary btn-sm" ng-click="SaveInventoryMeterDeposit(data)">Save changes</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </section>

    <div class="modal fade" id="changeLogModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" ng-controller="ChangeLog">
                <div class="modal-header">
                    <h4 class="modal-title">Transaction Logs</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" ng-init="searchObjectType('TitlingStatusController')">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 changelog">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">

                                <div class="dataTables_length form-inline">
                                    <label>
                                        Show
                                        <select name="example1_length" class="form-control form-control-sm" ng-model="pagingInfo.itemsPerPage" ng-change="setItemsPerPage(pagingInfo.itemsPerPage)">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> entries
                                    </label>
                                    <img src="~/Content/dist/img/ajax-loader2.gif" ng-show="loading" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <form ng-submit="search()" role="form">
                                    <div class="form-inline dataTables_filter">
                                        <label>
                                            Search:
                                            <input type="search" class="form-control form-control-sm" placeholder="" ng-model="pagingInfo.search">
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" width="3%" ng-click="sort('Id')">Nos</th>
                                            <th class="sorting" ng-click="sort('Description')">Description</th>
                                            <th class="sorting" width="50%" ng-click="sort('ContentDetail')">Content Detail</th>
                                            <th class="sorting" ng-click="sort('UserName')">Modified By</th>
                                            <th class="sorting" ng-click="sort('CreatedDate')">Date Modified</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="pagingInfo.totalItems == 0">
                                            <td colspan="5"><center>No data to display</center></td>
                                        </tr>
                                        <tr ng-if="pagingInfo.totalItems > 0" ng-repeat="log in ChangeLog">
                                            <td class="text-center" ng-bind="(pagingInfo.itemsPerPage * (pagingInfo.page - 1)) + $index + 1"></td>
                                            <td ng-bind="log.Description"></td>
                                            <td class="text-center">
                                                <textarea class="form-control form-control-sm text-xs font-italic" style="height: 80px;" name="ContentDetail" ng-model="log.ContentDetail" ng-disabled="true"></textarea>
                                            </td>
                                            <td ng-bind="log.UserName"></td>
                                            <td class="text-center">{{ log.CreatedDate | date:'MM/dd/yyyy h:mma'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing {{pagingInfo.page}} to {{pagingInfo.totalItems/pagingInfo.itemsPerPage | roundup }} of {{pagingInfo.totalItems}} entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                    <ul uib-pagination total-items="(10 * pagingInfo.totalItems)/pagingInfo.itemsPerPage" ng-model="pagingInfo.page" ng-change="selectPage(pagingInfo.page)" max-size="10" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i class="fas fa-ban"></i> Cancel</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

@section scripts{
    <script src="~/Scripts/ProjectScriptFile/InventoryMeterDeposit.js"></script>
    <script src="~/Scripts/ProjectScriptFile/ChangeLog.js"></script>
}
