@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="Menu" ng-init="init('@ViewBag.PageUrl')">
    <section class="content" ng-init="GetMenuData()">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header card-gray card-outline">
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row mb-2">
                                    <div class="col-sm-12 col-md-12">
                                        <button type="button" class="btn btn-danger btn-sm float-right" ng-if="Ctrl.wDelete" ng-click="DeleteData(Menu)">
                                            <i class="fas fa-trash-alt"></i> Delete
                                        </button>
                                        <button type="button" class="btn btn-secondary btn-sm float-right mr-1" ng-if="Ctrl.wEdit" ng-click="StatusData(Menu, 0)">
                                            <i class="fas fa-times-circle"></i> Deactivate
                                        </button>
                                        <button type="button" class="btn btn-secondary btn-sm float-right mr-1" ng-if="Ctrl.wEdit" ng-click="StatusData(Menu, 1)">
                                            <i class="fas fa-check-circle"></i> Activate
                                        </button>
                                        <button type="button" class="btn btn-info btn-sm float-right mr-1" data-toggle="modal" data-target="#createMenuModal" ng-if="Ctrl.wAdd" ng-click="AddData()">
                                            <i class="fas fa-plus-circle"></i> Create
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length form-inline">
                                            <label>
                                                Show
                                                <select name="example1_length" class="form-control form-control-sm" ng-model="pagingInfo.itemsPerPage" ng-change="setItemsPerPage(pagingInfo.itemsPerPage)">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries
                                            </label>
                                            <img src="~/Content/dist/img/ajax-loader2.gif" ng-show="loading" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <form ng-submit="search()" role="form">
                                            <div class="form-inline dataTables_filter">
                                                <label>
                                                    Search:
                                                    <input type="search" class="form-control form-control-sm" placeholder="" ng-model="pagingInfo.search">
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="text-center" width="3%">
                                                        <input type="checkbox" name="checkAll" id="checkAll" ng-model="selectedAll" ng-click="selectAll()" ng-disabled="!Ctrl.wDelete || !Ctrl.wEdit"/>
                                                    </th>
                                                    <th width="4%">Nos</th>
                                                    <th class="sorting" ng-click="sort('NameWithParent')">Menu</th>
                                                    <th class="sorting" ng-click="sort('iSerialNo')">Custom SL#</th>
                                                    <th class="sorting" ng-click="sort('nvPageUrl')">URL</th>
                                                    <th class="text-center sorting" ng-click="sort('Published')">Status</th>
                                                    <th class="text-center" ng-if="Ctrl.wDelete || Ctrl.wEdit">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="pagingInfo.totalItems == 0">
                                                    <td colspan="6"><center>No data to display</center></td>
                                                </tr>
                                                <tr ng-if="pagingInfo.totalItems > 0" ng-repeat="mn in Menu">
                                                    <td class="text-center">
                                                        <input type="checkbox" name="check" id="check{{$index + 1}}" ng-model="mn.isChecked" ng-change="checkSelected(mn.isChecked)" ng-disabled="!Ctrl.wDelete || !Ctrl.wEdit"/>
                                                    </td>
                                                    <td ng-bind="(pagingInfo.itemsPerPage * (pagingInfo.page - 1)) + $index + 1"></td>
                                                    <td ng-bind="mn.NameWithParent"></td>
                                                    <td ng-bind="mn.iSerialNo"></td>
                                                    <td ng-bind="mn.nvPageUrl"></td>
                                                    <td class="text-center"><span ng-class="(mn.Published === 'True')? 'badge badge-success' : 'badge badge-danger'" ng-bind="(mn.Published === 'True')? 'Active' : 'Inactive'"></span></td>
                                                    <td class="text-center" ng-if="Ctrl.wDelete || Ctrl.wEdit">
                                                        <button type="button" class="btn btn-secondary btn-circle btn-sm" data-toggle="modal" data-target="#createMenuModal" ng-if="Ctrl.wEdit" ng-click="EditMenuData(mn)"><i class="fas fa-pencil-alt"></i></button>
                                                        <button type="button" class="btn btn-danger btn-circle btn-sm" ng-if="Ctrl.wDelete" ng-click="DeleteMenu(mn)"><i class="fas fa-trash-alt"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing {{pagingInfo.page}} to {{pagingInfo.totalItems/pagingInfo.itemsPerPage | roundup }} of {{pagingInfo.totalItems}} entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                            <ul uib-pagination total-items="(10 * pagingInfo.totalItems)/pagingInfo.itemsPerPage" ng-model="pagingInfo.page" ng-change="selectPage(pagingInfo.page)" max-size="10" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </section>

    <div class="modal fade" id="createMenuModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Module</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="menuForm" novalidate role="form">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 form-group has-feedback">
                                <label for="parent">Parent</label>
                                <select class="form-control form-control-sm" id="parent" name="parent" ng-model="data.vParentMenuID">
                                    <option value="">Select Please ...</option>
                                    <option ng-repeat="pr in Parent" value="{{pr.vMenuID}}" ng-selected="data.vParentMenuID == pr.vMenuID">{{pr.NameWithParent}}</option>
                                </select>
                            </div>
                            <div class="col-12 form-group has-feedback" show-errors>
                                <label for="menuName">Menu Name <small>*</small></label>
                                <input type="text" class="form-control form-control-sm" id="menuName" name="menuName" ng-model="data.nvMenuName" ng-required="true" placeholder="Menu Name">
                                <div style="color:red" class="invalid-feedback" ng-if="menuForm.menuName.$error.required">You can't leave this empty.</div>
                            </div>
                            <div class="col-6 form-group has-feedback" show-errors>
                                <label for="menuUrl">URL <small>*</small></label>
                                <select class="form-control form-control-sm" id="menuUrl" name="menuUrl" ng-model="data.nvPageUrl" ng-required="true">
                                    <option value="">Select Please ...</option>
                                    <option value="#">As A Parent Menu</option>
                                    <option value="/Admin/Index">Index</option>
                                    <option value="/Admin/DashboardTOPipeline">Turnover Pipeline Dashboard</option>
                                    <option value="/Admin/DashboardTOSchedule">Turnover Schedule Dashboard</option>
                                    <option value="/Admin/DashboardTOStatus">Turnover Status Dashboard</option>
                                    <option value="/Admin/DashboardTitleStatus">Titling Status Dashboard</option>
                                    <option value="/Admin/DashboardElectricMeter">Electric Meter and Deposit Status Dashboard</option>
                                    <option value="/Admin/UnitAcceptance">Unit Acceptance from CMG</option>
                                    <option value="/Admin/OccupancyPermit">Occupancy Permit</option>
                                    <option value="/Admin/UnitQualifyTurnoverMgmnt">Unit Qualification and Turnover Management</option>
                                    <option value="/Admin/UnitQualifyMasterlist">Unit Qualification Masterlist</option>
                                    <option value="/Admin/UnitInspectionAcceptanceMgmnt">Unit Inspection and Acceptance Management</option>
                                    <option value="/Admin/UnitQTHistoricalMgmnt">Unit Qualification and TO Historical Data</option>
                                    <option value="/Admin/UnitIAHistoricalMgmnt">Unit Inspection and Acceptance Historical Data</option>
                                    <option value="/Admin/TitlingStatus">Titling Status</option>
                                    <option value="/Admin/ElectricMeter">Electric Meter and Service Deposit Status</option>
                                    <option value="/Admin/InventoryMeterDeposit">Inventory Meter Deposit</option>
                                    <option value="/Admin/Company">Company</option>
                                    <option value="/Admin/Project">Project</option>
                                    <option value="/Admin/UnitType">Unit Type</option>
                                    <option value="/Admin/Phase">Phase</option>
                                    <option value="/Admin/UnitInventory">Unit Inventory</option>
                                    <option value="/Admin/Customer">Customer</option>
                                    <option value="/Admin/TurnoverInterface">TO Acceptance Interface</option>
                                    <option value="/Admin/PunchlistCategory">Punchlist Category</option>
                                    <option value="/Admin/TurnoverOption">Turnover Option</option>
                                    <option value="/Admin/TurnoverStatus">Turnover Status</option>
                                    <option value="/Admin/TitlingLocation">Titling Location</option>
                                    <option value="/Admin/DocumentaryRequirement">DocumentaryRequirement</option>
                                    <option value="/Admin/Holiday">Holiday Calendar</option>
                                    <option value="/Admin/SystemParameter">System Parameter</option>
                                    <option value="/Admin/Option">Option</option>
                                    <option value="/Admin/Menu">Module</option>
                                    <option value="/Admin/Users">Users</option>
                                    <option value="/Admin/LogDashboard">Log Dashboard</option>
                                    <option value="/Admin/ChangeLog">Change Log</option>
                                    <option value="/Admin/PageVisited">Page Visited</option>
                                    <option value="/Admin/LoginHistory">Login History</option>
                                    <option value="/Admin/Configuration">Global Configuration</option>
                                    <option value="/Admin/EmailTemplate">Email Template</option>
                                </select>
                                <div style="color:red" class="invalid-feedback" ng-if="menuForm.menuUrl.$error.required">You can't leave this empty.</div>
                            </div>
                            <div class="col-6 form-group has-feedback" show-errors>
                                <label for="published">Published</label>
                                <select class="form-control form-control-sm" id="published" name="published" ng-model="data.Published" ng-required="true">
                                    <option value="True">Active</option>
                                    <option value="False">Inactive</option>
                                </select>
                                <div style="color:red" class="invalid-feedback" ng-if="menuForm.published.$error.required">You can't leave this empty.</div>
                            </div>
                            <div class="col-6 form-group has-feedback" show-errors>
                                <label for="icon">FavIcon <small>*</small></label>
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="icon" name="icon" ng-model="data.nvFabIcon" ng-required="true" placeholder="Ex: fa-users">
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="fas {{data.nvFabIcon}}"></i></div>
                                    </div>
                                </div>
                                <div style="color:red" class="invalid-feedback" ng-if="menuForm.icon.$error.required">You can't leave this empty.</div>
                            </div>
                            <div class="col-6 form-group">
                                <label for="parent">Available Controls <small>*</small></label>
                                <div ng-dropdown-multiselect="" options="Option" selected-model="data.OptionIDs" checkboxes="true" extra-settings="setting1"></div>
                            </div>
                            <div class="col-6 form-group has-feedback" show-errors>
                                <label for="serialNo">Serial No <small>*</small></label>
                                <input type="number" class="form-control form-control-sm" id="serialNo" name="serialNo" ng-model="data.iSerialNo" ng-required="true" placeholder="Ex: 1">
                                <div style="color:red" class="invalid-feedback" ng-if="menuForm.serialNo.$invalid">You can't leave this empty.</div>
                            </div>
                            <div class="col-6 form-group has-feedback">
                                <label for="prefixCode">Prefix Code</label>
                                <input type="text" class="form-control form-control-sm" id="prefixCode" name="prefixCode" ng-model="data.PrefixCode" placeholder="">
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between p-0 pt-3">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" ng-click="ClearData()">Close</button>
                            <button type="submit" class="btn btn-secondary btn-sm" ng-click="SaveMenu(data, data.OptionIDs)">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

@section scripts{
    <script src="~/Scripts/lodash.min.js"></script>
    <script src="~/Scripts/ProjectScriptFile/Menu.js"></script>
}
